body > h1 {
  color: black;
}

.section-server {
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  margin-top: 5em;
}
