.footer {
    background-color: rgb(45, 2, 121);
    display: flex;
}

.year {
    display: inline-flex;
    color: #fff;;
    padding-left: 10px;
}

.footerIcons {
    list-style-type: none;
    width: fit-content;
    margin-left: auto;
}

.socialIcons {
    display: inline-flex;
    padding-right: 10px;
    gap: 20px;
}