.header {
    background: #333;
    color: #fff;
    padding: 10px;
    display: flex;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    width: fit-content;
}

.description {
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    margin-left: auto;
    gap: 10px;
    padding: 10px;
    font-size: 15px;
}

.navLink {
    text-decoration: none;
    color: #fff;
}

.navLink:hover {
    transform: translate(0, -2px);
}