.container {
    background-image: url("https://wallpaperaccess.com/full/5143599.jpg");
    display: flex;
    height: calc(100vh - 139px);
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color:  black;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    line-height: 1.15;
    text-align: center;
}

.description {
    color: black;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}

.code {
    color: rgb(54, 148, 54);
}