.header {
  color: white;
  display: flex;
  align-items: center; /* Vertically align items within the header */
  justify-content: space-between; /* Spread items to both ends of the header */
  padding: 10px 20px; /* (Optional) Add padding to the header */
}

.logo {
  /* Add any specific styles for the logo container, if necessary */
}

.hTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0; /* Remove default margin from the title */
}

.titleWrapper {
  /* Add any specific styles for the title wrapper, if necessary */
}
